<div id="s-brain" class="brain">

    {% include 'visualizers/commons/gl_view_header.html' %}
    {% include 'visualizers/commons/fragment_shader.html' %}
    {% include 'visualizers/commons/surface_pick_vertex_shader.html' %}
    {% import 'visualizers/commons/brain_component.html' as bc  %}

    {{ bc.draw_brain_component("GLcanvas", none) }}

    <script type="text/javascript" src="{{ deploy_context | safe }}/static/js/base_vertice_pick.js?{{ currentVersionJS }}"></script>
    <script type="text/javascript" src="{{ deploy_context | safe }}/static/js/spatial/local_connectivity.js?{{ currentVersionJS }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            BASE_PICK_webGLStart('{{ urlVerticesPick | safe }}', '{{ urlTrianglesPick | safe }}', '{{ urlNormalsPick | safe }}', '{{ urlVertices | safe }}',
                    '{{ urlTriangles | safe }}', '{{ urlNormals | safe }}', '{{ brainCenter }}', "");

            LCON_viewer_init({{ minValue }}, {{ maxValue }}, '{{ local_connectivity_gid }}');
        });
    </script>

</div>

