# byte compiled
*.py[cod]
__pycache__

# packaging
*.egg-info/

# ide's
.idea/
.ipynb_checkpoints/

# testing
.pytest_cache/
.tox/
TEST_OUTPUT/

# coverage
.coverage
.htmlcov

# other tools
.mypy_cache/
