<?xml version="1.0"?>

<events  xmlns="http://www.thevirtualbrain.org/tvb"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="../core/schema/events.xsd">

	<!-- Supported variables to be available from runtime are so far $$CURRENT_USER$$ and $$CURRENT_PROJECT$$-->

    <event hookpoint="UserService.create_user" type="generic">
        <launcher module="tvb.core.services.project_service" class="ProjectService" instance="True"/>
        <method name="add_member_to_project"/>
        <args>
            <arg name="project_gid" value="2cc58a73-25c1-11e5-a7af-14109fe3bf71" type="str"/>
            <arg name="user_id" value="$$CURRENT_USER$$.id" type="runtime"/>
        </args>
    </event>


    <event hookpoint="CodeVersionsManager.update.4455" type="adapter">
        <adapter module="tvb.adapters.uploaders.obj_importer" class="ObjSurfaceImporter"/>
        <method name="launch" operation-hidden="true"/>
        <args>
            <arg name='data_file' value="eeg_cap.obj" module='tvb_data.obj' type="file" />
            <arg name='surface_type' value='EEG Cap' type='str' />
        </args>
    </event>
    <event hookpoint="CodeVersionsManager.update.4455" type="adapter">
        <adapter module="tvb.adapters.uploaders.obj_importer" class="ObjSurfaceImporter"/>
        <method name="launch" operation-hidden="true"/>
        <args>
            <arg name='data_file' value="face_surface.obj" module='tvb_data.obj' type="file" />
            <arg name='surface_type' value='Face' type='str' />
        </args>
    </event>
    
    
    <event hookpoint="CodeVersionsManager.update.4750" type="adapter">
        <adapter module="tvb.adapters.uploaders.sensors_importer" class="Sensors_Importer"/>
        <method name="launch"/>
        <args>
            <arg name='sensors_file' value="seeg_39.txt.bz2" module='tvb_data.sensors' type="file" />
            <arg name='sensors_type' value='Internal Sensors' type='str' />  
        </args>
    </event>


    <event hookpoint="CodeVersionsManager.update.6093" type="adapter">
        <adapter module="tvb.adapters.uploaders.obj_importer" class="ObjSurfaceImporter"/>
        <method name="launch" />
        <args>
            <arg name='data_file' value="face_surface.obj" module='tvb_data.obj' type="file" />
            <arg name='surface_type' value='Face' type='str' />
        </args>
    </event>


    <event hookpoint="CodeVersionsManager.update.6600" type="generic">
        <launcher module="tvb.core.services.import_service" class="ImportService" instance="True"/>
        <method name="import_project_structure"/>
        <args>
            <arg name='uploaded' value="Default_Project.zip" module='tvb_data' type="file" />
            <arg name="user_id" value="$$CURRENT_USER$$.id" type="runtime"/>
        </args>
    </event>

</events>


