[report]
omit =
    */tests/*
    */_numba/*
    */_opencl/*
    */plot/*
    */web/static/*
    */web/templates/*
    *.tvb-temp*
    */tvb_bin/*
    */tvb_data/*
    **/__init__.py

# Regex expressions for lines excluded from report
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:y