<!--! used to draw a page that associates something for a connectivity node -->
<div id="main" class="columnized colscheme-2-even">
    <link rel="stylesheet" type="text/css" href="{{ deploy_context | safe }}/static/style/section_stimulus.css?{{ currentVersionJS }}"/>

    <section class="configure-stimulus-equation view-column col-2">
        <h4><mark>Select</mark> Connectivity Region</h4>
        <!--! todo: this includes does more than necessary -->
        {% include 'visualizers/connectivity/left_template_connectivity_view.html' %}
    </section>

    <script type="text/javascript" src="{{ deploy_context | safe }}/static/js/region_associator.js?{{ currentVersionJS }}"></script>
    <script type="text/javascript" src="{{ deploy_context | safe }}/static_view/connectivity/scripts/matrixScript.js?{{ currentVersionJS }}" ></script>

    <section class="configure-stimulus-shape view-column col-1">

        <h4><mark>Configure</mark> {{ section2title }}</h4>
        {% import 'visualizers/commons/channel_selector.html' as cs %}
        {% import 'visualizers/commons/channel_selector_quick.html' as csq %}

        <ul class="toolbar-inline">

            {{ hole_form() }}

            <li>
                <button id="put-model" class="action action-store"
                        title="Put into the nodes checked the Model Configuration selected on the left">Apply to selected nodes
                </button>
            </li>

            <!--! Quick-Select -->
            <li class="selector-storage">
                {{ csq.drawQuickSelector() }}
            </li>
        </ul>

        {{ cs.drawRegionSelector(connectivity_entity.title, "channelSelector", groupedLabels, initialSelection) }}

    </section>

    <form id="base_spatio_temporal_form" action="{{ submit_parameters_url }}" method="POST">
	    <aside class="header-component toolbar can-extend auto-extends">
	    	<h3>SpatioTemporal Entities</h3>
		  <div class="extension">
		   <div class="dropdown-pane">
	        <ul>
	        	<li>
                    <button class="action action-confirm">
                    	Submit {{ sumbitText }}
                    </button>
                </li>
                <li>
                    <a href="{{ deploy_context | safe }}/burst" class="action action-cancel">
                        Cancel
                    </a>
                </li>
	        </ul>
	       </div>
	      </div>
	    </aside>
        <input type="hidden" name="node_values"/>
	 </form>

    {{ hole_js() }}
</div>