<div id="main" class="columnized colscheme-1">
    <link rel="stylesheet" type="text/css" href="{{ deploy_context | safe }}/static/style/section_stimulus.css?{{ currentVersionJS }}"/>

    <section class="configure-stimulus-equation view-column col-2">
        <div class="model-param-empty">
            <h1> No Spatial Vector entities exist in the current project.</h1>
            <p> Before configuring a simulation like this, we need at least one Spatial Vector created (e.g. from KG).</p>
        </div>
    </section>
</div>