<div xmlns:py="http://genshi.edgewall.org/" py:strip="True" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="../flow/generate_help_tooltip.html" />

    <py:def function="drawSlider(par)">
        <td class="paramName">${par.label}</td>
        <td class="paramHelp"> ${generate_help_tooltip(par)}</td>
        <td class="paramSlider"><div id="slider_${par.name}"></div></td>
        <td class="paramValue">
            <input type="number" id="value_${par.name}"
                   value="${par.default}" min="${par.min}" max="${par.max}" step="${par.step}"/>
        </td>
    </py:def>

    <py:def function="drawSliderGroup(parameters, btn_id, title)">
        <div class="sliderGroup">
            <button id="${btn_id}">Reset</button>
            <h3>$title</h3>
            <table class="paramSlidersTable" py:with="step=(1 + len(parameters))/2">
                <tr py:for="i in xrange(step)">
                    ${drawSlider(parameters[i])}
                    <py:if test="i + step &lt; len(parameters)">
                        ${drawSlider(parameters[i + step])}
                    </py:if>
                </tr>
            </table>
        </div>
    </py:def>

    ${drawSliderGroup(parameters, "reset_sliders", "Model parameters")}

    <div class="sliderGroup">
        <button id="reset_axes">Reset</button>
        <h3>Axes</h3>
        <table class="axisSlidersTable">
            <tr>
                <td class="paramName">mode</td>
                <td class="paramValue">
                    <select id="mode">
                        <option py:for="idx in modes" value="${idx}">$idx</option>
                    </select>
                </td>
                <td class="c3"></td>
            </tr>
             <tr>
                <td class="paramName">:math:`x`</td>
                <td class="paramValue">
                    <select id="svx">
                        <option py:for="sv in state_variables" value="${sv.name}">
                            ${sv.label}</option>
                    </select>
                </td>
                 <td class="c3"><div id="slider_x_axis"></div></td>
                 <td><span id="x_range_span"> ${x_axis.lo} .. ${x_axis.hi}</span></td>
            </tr>
            <tr>
                <td class="paramName">:math:`y`</td>
                <td class="paramValue">
                    <select id="svy">
                        <option py:for="i, sv in enumerate(state_variables)" value="${sv.name}"
                                selected="${'selected' if i==1 else None}">${sv.label}</option>
                    </select>
                </td>
                <td class="c3"><div id="slider_y_axis"></div></td>
                <td><span id="y_range_span">${y_axis.lo} .. ${y_axis.hi}</span></td>
            </tr>
        </table>
    </div>

    ${drawSliderGroup(state_variables, "reset_state_variables", "State variables")}

</div>
