<div xmlns:py="http://genshi.edgewall.org/" py:strip="True" xmlns:xi="http://www.w3.org/2001/XInclude">
    <!--! This file defines functions used by concrete slider generating templates -->
    <xi:include href="../flow/generate_help_tooltip.html" />

    <py:def function="drawSlider(par)">
        <td class="paramName">${par.label}</td>
        <td class="paramHelp"> ${generate_help_tooltip(par)}</td>
        <td class="paramSlider"><div id="slider_${par.name}"></div></td>
        <td class="paramValue">
            <input type="number" id="value_${par.name}"
                   value="${par.default}" min="${par.min}" max="${par.max}" step="${par.step}"/>
        </td>
    </py:def>

    <py:def function="drawSliderGroup(parameters, btn_id, title)">
        <div class="sliderGroup">
            <button id="${btn_id}">Reset</button>
            <h3>$title</h3>
            <table class="paramSlidersTable" py:with="step=(1 + len(parameters))/2">
                <tr py:for="i in xrange(step)">
                    ${drawSlider(parameters[i])}
                    <py:if test="i + step &lt; len(parameters)">
                        ${drawSlider(parameters[i + step])}
                    </py:if>
                </tr>
            </table>
        </div>
    </py:def>

    <py:def function="drawAxis(name, state_variables, selected_sv, selectId, sliderId, spanId)">
        <td class="paramName">$name</td>
        <td class="paramValue">
            <select id="${selectId}">
                <option py:for="sv in state_variables" value="${sv.name}"
                        selected="${'selected' if sv.name == selected_sv else None}">${sv.label}</option>
            </select>
        </td>
        <td class="c3"><div id="${sliderId}"></div></td>
        <td><span id="${spanId}"> </span></td>
    </py:def>

</div>
