<div xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/" py:strip="True">

    <py:def function="hole_form()">
        <li py:for="idx, sv in enumerate(stateVars)">
            <label>${sv}
                <input type="text" id="noisevalue_${idx}" value="${noiseInputValues[sv]}" style="width:50px;"/>
            </label>
        </li>
    </py:def>

    <py:def function="hole_js()">
        <script type="text/javascript" src="/static/js/bursts_noise.js?$currentVersionJS" ></script>
        <script type="text/javascript">
            $(document).ready(function () {
                noiseParam.main(${stateVarsJson}, ${initialNoiseValues}, "${measurePointsSelectionGID}");
            });
        </script>
    </py:def>

    <!--! the above functions will be used by the template below to draw the form and execute startup js-->
    <xi:include href="region_associator.html"
        py:with="section2title='noise dispersion for state variables';
                 sumbitText='Noise Configuration'"/>
</div>