<div id="portlets-display" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude"
	 py:with="portlets_len=len(portlet_tab_list)"
	 class="portlet-container portlet-run visible-${'2-2' if portlets_len==4 else '2-1' if portlets_len==3 else '1-1' if portlets_len==2 else '1'}">
	
	<py:if test="portlets_len == 0 and not model.has_finished(status)">
		<p>Simulation is still running....</p>
		<p>Visualizers will be loaded when computation has finished!</p>
	</py:if>
	<py:if test="portlets_len == 0 and model.has_finished(status)">
		<p>No visualizers configured for this tab to display.</p>
	</py:if>

	<py:for each="portlet_idx, portlet_entity in enumerate(portlet_tab_list)"
			py:with="width= max_width if (portlets_len==1 or portlets_len==3 and portlet_idx==2) else max_width/2;
					 height=max_height/2 - 38 if (portlets_len &gt; 1) else max_height - 38;">

		<xi:include href="portlet_visualization_template.html"/>
	</py:for>
	
</div>