<link rel="stylesheet" type="text/css" href="/static/style/section_stimulus.css?{{ currentVersionJS }}"/>
<link rel="stylesheet" type="text/css" href="/static/style/subsection_brain.css?{{ currentVersionJS }}"/>

<script type="text/javascript" src="/static/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/static/flot/jquery.flot.symbol.js"></script>
<script type="text/javascript" src="/static/js/spatial/base_spatial.js?{{ currentVersionJS }}"></script>
<script type="text/javascript" src="/static/js/spatial/stimulus.js?{{ currentVersionJS }}"></script>
<script type="text/javascript">checkForIE()</script>
<!--! added for selection component-->
<script type="text/javascript" src="/static_view/connectivity/scripts/selectionControlScript.js?{{ currentVersionJS }}"></script>
<script type="text/javascript" src="/static_view/connectivity/scripts/matrixScript.js?{{ currentVersionJS }}" ></script>