<section class="select-points view-column col-1">
	
	<h4><mark>View</mark> Local connectivity</h4>

	{{ existentEntitiesInputList | safe }}

	{% if no_local_connectivity == false %}
		{% include 'spatial/left_template_brain_pick.html' %}
	{% else %}
		Should not get here before the load of a local connectivity.
	{% endif %}

	<script type="text/javascript">
        $(document).ready(function() {
            LCON_page_init({{ minValue }}, {{ maxValue }});
        });
    </script>

	{% if displayedMessage is defined and displayedMessage != none %}
		<script type="text/javascript">
			displayMessage('{{ displayedMessage }}', '{{ messageType }}');
		</script>
	{% endif %}
    
    <form id="load-existing-entity" action="{{ loadExistentEntityUrl }}" method="POST">
    	<input type="hidden" id="entity-gid" name="local_connectivity_gid" value="none"/>
    	<input type="hidden" name="from_step" value="2"/>
    </form>

    <form id="reset-to-default" action="{{ resetToDefaultUrl }}" method="POST">
    	<input type="hidden" name="from_step" value="2"/>
    </form>
    
</section>