<section class="manage-points view-column col-2">
	<h4><mark>Local Connectivity</mark> Information</h4>

	<fieldset>
		<dl>
			{% include 'flow/color_scheme.html' %}

            <legend>
                Direction:
            </legend>

			<dt>*</dt>
			<dd><p>Use the selector menu above the display, to choose the Local Connectivity entity you want to inspect.</p></dd>
			
			<dt>*</dt>
			<dd><p>Loading the surface in your browser will take a couple of seconds. Please be patient.</p></dd>
			
			<dt>*</dt>
			<dd><p>You can drag and rotate the 3D surface on the display area using the mouse.</p></dd>
			
			<dt>*</dt>
			<dd><p>You can pick a node by clicking with the left button of your mouse on the cortical surface. </p></dd>
			
			<dt>*</dt>
			<dd><p>A red-graded area around the selected node can be seen. This area represents the spatial profile of the Local Connectivity for that particular focal point.</p></dd>
			
			<dt>*</dt>
			<dd><p>The spread of the graded area depends on the cut-off distance. Please notice that computation time is highly dependent on this parameter as well.</p></dd>
		</dl>
			
	</fieldset>

</section>
