<div id="main" class="columnized colscheme-2-even">
	<script type="text/javascript" src="{{ deploy_context | safe }}/static/js/spatial/model_parameters.js"></script>
    {% include 'spatial/refreshBaseUrl_initializer.html' %}

	<section id='div_spatial_model_params' class="configure-stimulus-equation view-column col-2">
        {% include 'spatial/model_param_surface_left.html' %}
    </section>

    {% include 'spatial/model_param_surface_right.html' %}

    <form id="base_spatio_temporal_form" action="{{ submit_parameters_url }}" method="POST">
	    <aside class="header-component toolbar can-extend auto-extends">
            <h3>Surface Model Configuration</h3>
            <div class="extension">
                <div class="dropdown-pane">
                    <ul>
                        <li>
                            <button type="submit" class="action action-confirm" name="submit_action" value="submit_action"
                                    id="base_spatio_temporal_submit">
                                Submit Surface Parameters
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="action action-cancel" name="submit_action" value="cancel_action">
                                Cancel
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
	    </aside>
	 </form>

    <script type="text/javascript">
        $('#base_spatio_temporal_submit').click(MP_onSubmit);
    </script>
</div>