<!-- ============================= --> 
<!-- Static content, used as index --> 
<!-- ============================= -->
<section class="intro static"> 
    <h1>The Virtual Brain.</h1> 
    <p>TVB is a modeling and analysis platform, which allows the simulation of functional brain data specific to individual brain structures and connectivity.</p>
    <p>Experimental functional and structural data will be read into TVB and the same degree of analyses will be applicable to both simulated and experimental data.</p>
    
    <p>Enjoy working with us and have a brainy day!</p>
    
    <p><em>PS: Default credentials are: admin/pass</em></p>
</section>
