<div class="adaptersDiv">

    {% if (includeGenericAdapterTemplateFunctions is not defined) or (includeGenericAdapterTemplateFunctions == true) %}
        {% include 'flow/genericAdapterTemplateFunctions.html' %}
    {% endif %}

    {% with %}
        {% set drawHiddenRanges =  draw_hidden_ranges if draw_hidden_ranges is defined else false %}
        {% set tree_session_key = treeSessionKey if treeSessionKey is defined else 'defaultTree' %}
        {% import 'flow/genericAdapterTemplateFunctions.html' as gatf with context %}

        {% if adapter_form is defined %}
            {{ adapter_form | safe }}
        {% endif %}

        {% if inputList is defined %}
            {{ gatf.generateDisplay(inputList, false, "", tree_session_key, draw_hidden_ranges=drawHiddenRanges) }}
        {% endif %}
    {% endwith %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.adaptersDiv select').each(function () {
                if (!this.disabled)
                    if (this.onchange)
                        this.onchange();
            });
            $('.adaptersDiv input[type="radio"]').each(function () {
                if (!this.disabled) if (this.checked) if (this.onchange)
                    this.onchange();
            });
        });
    </script>
</div>
