<script type="text/javascript" src="/static/js/filters.js?{{ currentVersionJS }}"></script>
<script type="text/javascript" src="/static/js/stepsUpdate.js?{{ currentVersionJS }}"></script>
<script type="text/javascript" src="/static/js/range.js?{{ currentVersionJS }}"></script>

<!--! Contains the required functions to generate the HTML for primitive types. -->
{% import 'flow/type2component/array2component.html' as a2c with context %}
{% import 'flow/type2component/boolean2component.html' as b2c with context %}
{% import 'flow/type2component/datatype2component.html' as d2c with context %}
{% import 'flow/type2component/file2component.html' as f2c with context %}
{% import 'flow/type2component/multipleselect2component.html' as ms2c with context %}
{% import 'flow/type2component/number2component.html' as n2c with context %}
{% import 'flow/type2component/select2component.html' as s2c with context %}
{% import 'flow/type2component/string2component.html' as s2c2 with context %}

{% macro create_select_options(inputRow, use_in) -%}
    <!--! Function to generate 'option' elements inside a simple/multiple 'select' components. -->
    {% for option in inputRow.options %}
        {% set add_attrs1= 'selected' if ('default' in inputRow) and ((option.value | string) == (inputRow.default | string)) else '' %}

        {% if 'default' not in inputRow %}
            {% set input_row_default = [] %}
        {% else %}
            {% if inputRow.default | isinstance(str | type) %}
                {% set input_row_default = [inputRow.default] %}
            {% else %}
                {% set input_row_default = inputRow.default %}
            {% endif %}
        {% endif %}

        {% set add_attrs2 = 'selected' if (option.value | string) in input_row_default else '' %}
        {% set add_attrs = add_attrs2 if use_in else add_attrs1 %}

        <option value="{{ option.value }}" {{ add_attrs }}> {{ option.name }} </option>
    {% endfor %}
{%- endmacro %}

{% macro add_checkbox_control(inputRow) -%}
    <!--!     Add checkbox near a controller to filter controls visible. 	 -->
    {% if param_checkbox_config == True %}
        <p class="field-adapters">
            <input type="checkbox" tabindex='1' name="{{ inputRow.name }}_checked" class="param-config-checkbox"
            {{ ("checked='checked'") | safe if (none_checked or inputRow.name in selectedParametersDictionary and selectedParametersDictionary[inputRow.name]['checked']) }}
            {{ ("disabled='disabled'") | safe if disabled }}
        </p>
    {% endif %}
{%- endmacro %}

{% macro generateDisplay(inputList, disabled, parentDivId, treeSessionKey='defaultTree', extra_class=none, draw_hidden_ranges = false) -%}
    <!--! Jinja2 macro, to generate one level in the tree of Adapter input parameters. -->
    <!--! In case some other form of elements except selects and inputs are used /static/JS/bursts.js should also be changed -->
    <fieldset>
        {% if draw_hidden_ranges %}
            <!-- This inputs will be used to remember which rangers are currently selected in UI.  -->
            <input type="hidden" id="range_1" name="range_1" value="0"/>
            <input type="hidden" id="range_2" name="range_2" value="0"/>
        {% endif %}

        {% if inputList %}
            <dl>
                {% for inputRow in inputList %}
                    {% with %}
                        {% set dt_class = extra_class if extra_class is not none else '' %}
                        {% set dt_class = dt_class ~ ' field-mandatory' if ('required' in inputRow and inputRow.required and not ('locked' in inputRow and inputRow.locked)) %}
                        {% set dt_class = dt_class ~ ' dataset-selector' if (inputRow.type=='select' and 'datatype' in inputRow) else dt_class ~ ' field-type-' ~ inputRow.type %}

                        <dt class="{{ dt_class }}">
                            {% if 'label' in inputRow %}
                                {% import 'flow/generate_help_tooltip.html' as ght with context %}
                                <label for="{{ inputRow.name }}">{{ inputRow.label }} {{ ght.generate_help_tooltip(inputRow) }}</label>
                            {% endif %}
                        </dt>
                    {% endwith %}

                    <dd>
                        <p class="field-data {{ 'field-series' if (inputRow.type=='select' and 'datatype' not in inputRow and (inputRow.options | length) < 5) else '' }}">
                            {% if inputRow.type=='upload' %}
                                {{ f2c.draw_upload(inputRow) }}
                            {% elif inputRow.type == 'array' %}
                                {{ a2c.draw_array_component(inputRow, disabled) }}
                                <!--! When type is List we expect to have a string which should be the json representation of a list -->
                            {% elif inputRow.type == 'str' or inputRow.type == 'list' %}
                                {{ s2c2.draw_string_component(inputRow, disabled) }}
                            {% elif inputRow.type =='bool' %}
                                {{ b2c.draw_bool(inputRow) }}
                            {% elif (inputRow.type =='int') or (inputRow.type=='float') %}
                                {{ n2c.draw_number_component(inputRow, disabled, parentDivId) }}
                            {% elif inputRow.type =='select' and 'datatype' not in inputRow %}
                                {{ s2c.draw_simple_select(inputRow, disabled, parentDivId, treeSessionKey) }}
                            {% elif inputRow.type =='select' and 'datatype' in inputRow %}
                                {{ d2c.draw_datatype_full(inputRow, inputRow['disabled'] if 'disabled' in inputRow else disabled, parentDivId, treeSessionKey) }}
                            {% elif inputRow.type =='selectMultiple' %}
                                {{ ms2c.draw_multipleselect(inputRow, disabled, treeSessionKey) }}
                            {% endif %}
                        </p>

                        {% if 'inputRow.name' in errors %}
                            <p class="field-comment errorMessage">{{ errors[inputRow.name] }}</p>
                        {% endif %}

                        <!--!  In case a new level in the tree is needed, call recursively the function to display it.-->
                        {% if inputRow.type == 'dict' %}
                            <label>Dictionary of parameters</label>
                            <div id="dict_{{ inputRow.name }}">
                                {{ generateDisplay(inputRow.attributes, true, "dict_" ~ inputRow.name, treeSessionKey) }}
                            </div>
                        {% endif %}
                    </dd>
                {% endfor %}
            </dl>
        {% endif %}
    </fieldset>
{%- endmacro %}



