<p class="field-data">
<select name="{{ field.name }}" id="{{ field.name }}" class="dataset-selector" tabindex="1" title="Fully Loaded!">
{% for option in field.options() %}
    <option value="{{ option.value }}" {{ 'selected' if option.checked }} class="form-control">{{ option.label }}</option>
{% endfor %}
</select>
{% if field.draw_dynamic_conditions_buttons %}
    <div class="field-adapters" id="{{ field.name }}data_select">
        <input type="button" tabindex='1' value="Add Filter" onclick="addFilter('{{ field.name }}' + 'data_select', {{ field.get_dynamic_filters }})">
        <input type="button" tabindex='1' value="Apply Filters" onclick="applyFilters('{{ (field.datatype_index | string)[8:-2] }}', '{{ field.name }}' + 'data_select', '{{ field.name }}')">

        {% with %}
            {% set form_filters = field.get_form_filters %}

            {% for idx in range(form_filters.fields | length) %}
                <div>
                    <label></label>
                        <select hidden><option value='{{ form_filters.fields[idx] }}'></option></select>
                        <select hidden><option value='{{ form_filters.operations[idx] }}'></option></select>
                        <input type="hidden" value='{{ form_filters.values[idx] }}'>
                </div>

            {% endfor %}
        {% endwith %}
    </div>
{% endif %}
</p>