{% import 'form_fields/generate_help_tooltip.html' as ght with context %}

<fieldset>
    {% if adapter_form.draw_ranges %}
        <input type="hidden" id="{{ adapter_form.RANGE_1_NAME }}" name="{{ adapter_form.RANGE_1_NAME }}" value="0">
        <input type="hidden" id="{{ adapter_form.RANGE_2_NAME }}" name="{{ adapter_form.RANGE_1_NAME }}" value="0">
    {% endif %}
    <dl>
        {% for field in adapter_form.fields %}
            <dt {% if field.label_classes %} class="{{ field.label_classes|join(' ') }}" {% endif %}>
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ ght.generate_help_tooltip(field.label, field.doc) }}
            </dt>
            <dd>
                {{ field | safe }}
                <p class="errorMessage">
                    {% for error in field.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </p>
            </dd>
        {% endfor %}
    </dl>
</fieldset>
