<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Test </title>
    <link rel="stylesheet" type="text/css" href="{{ deploy_context | safe }}/static/style/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ deploy_context | safe }}/static/style/overlay.css"/>
    <link rel="stylesheet" type="text/css" href="{{ deploy_context | safe }}/static/jquery/jquery-ui.css"/>

    <style>html{overflow: auto}</style>
    <script type="text/javascript">const deploy_context = '{{ deploy_context | safe }}'</script>
    <script type="text/javascript" src="{{ deploy_context | safe }}/static/jquery/jquery.js"></script>
    <script type="text/javascript" src="{{ deploy_context | safe }}/static/js/genericTVB.js"></script>
</head>

<body class="is-helping">

<form method="post" action="{{ deploy_context | safe }}/" enctype="multipart/form-data">
    <fieldset>
    {% for error in form.errors %}
        <span> {{ error }} </span>
    {% endfor %}
    <dl>
    {% for field in form.fields %}
        <dt {% if field.label_classes %} class="{{ field.label_classes|join(' ') }}" {% endif %}>
            <label for="{{ field.name }}">{{ field.label }}</label>
        </dt>
        <dd>
            {{ field | safe }}
            <p class="errorMessage">
                {% for error in field.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            </p>
        </dd>
    {% endfor %}
    </dl>
    </fieldset>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>

<pre style="background-color: #FAF7E4; padding:2em">
{{ output | safe }}
</pre>

</body>
</html>