<div xmlns:py="http://genshi.edgewall.org/" py:strip="True">
    <script type="text/javascript" src="/static/jquery/jquery-ui.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/colorScheme/js/colorpicker.js?$currentVersionJS"></script>

    <link rel="stylesheet" type="text/css" href="/static/colorScheme/css/colorpicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/color_scheme.css"/>

    <dt>
        <label for="setColorSchemeSelId">Color Scheme</label>
    </dt>
    <dd>
        <select id="setColorSchemeSelId" onchange="ColSch_setColorScheme(this.options[this.selectedIndex].value, true);" tabindex="1">
            <option value="linear" selected="selected">Linear gradient</option>
            <option value="rainbow">Rainbow</option>
            <option value="hotcold">Hot-Cold</option>
            <option value="TVB">TVB</option>
            <option value="sparse">Sparse colors</option>
            <option value="lightHotcold">Light Hot-Cold</option>
            <option value="lightTVB">Light TVB</option>
            <option value="marteli">Marteli</option>
            <option value="cubehelix">CubeHelix</option>
            <option value="termal">Termal</option>
            <option value="brewer1">Brewer</option>
        </select>
        <fieldset id="colorSchemeFieldSet_linear">
            <dl>
                <dt>
                    <label>Trim marginal values</label>
                </dt>
                <dd>
                    <label id="sliderMinValue"></label>
                    <div id="rangerForLinearColSch" title="By moving margins here, some values are ignored from the colored display and shown black-ish"></div>
                    <label id="sliderMaxValue"></label>
                </dd>
            </dl>
        </fieldset>

        <fieldset id="colorSchemeFieldSet_sparse" style="display:none;">
            <dl>
                <dt>
                    <label for="sliderForSparseColSch">Using</label>
                    <span class="slider-value" id="ColSch_colorNo"></span>
                    <span class="slider-value"> colors.</span>
                </dt>
                <dd>
                    <div class="sliderStepDiv">
                        <div id="sliderForSparseColSch" class="shadow"></div>
                    </div>
                </dd>
            </dl>
        </fieldset>
    </dd>
</div>