<div xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="True">
    <script type="text/javascript" src="/static/js/filters.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/js/stepsUpdate.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/js/range.js?$currentVersionJS"></script>


    <!--! Contains the required functions to generate the HTML for primitive types. -->
    <xi:include href="type2component/array2component.html"/>
    <xi:include href="type2component/boolean2component.html"/>
    <xi:include href="type2component/datatype2component.html"/>
    <xi:include href="type2component/file2component.html"/>
    <xi:include href="type2component/multipleselect2component.html"/>
    <xi:include href="type2component/number2component.html"/>
    <xi:include href="type2component/select2component.html"/>
    <xi:include href="type2component/string2component.html"/>

    <xi:include href="generate_help_tooltip.html" />
    	
    <py:def function="create_select_options(inputRow, use_in)">
     	<!--! Function to generate 'option' elements inside a simple/multiple 'select' components. -->
     	<py:for each="option in inputRow.options">
			<py:with vars="add_attrs1={'selected': 'selected'} if ('default' in inputRow) and (str(option.value)==str(inputRow.default)) else {};
						   input_row_default = [] if 'default' not in inputRow else [inputRow.default] if isinstance(inputRow.default, (str, unicode)) else inputRow.default;
						   add_attrs2={'selected': 'selected'} if str(option.value) in input_row_default else {};
						   add_attrs= add_attrs2 if use_in else add_attrs1;">
				<option value="${option.value}" py:attrs="add_attrs"> ${option.name} </option>
  	 		</py:with>
		</py:for> 
    </py:def>
     
    <py:def function="add_checkbox_control(inputRow)">
		<!--!     Add checkbox near a controller to filter controls visible. 	 -->
     	<py:if test="param_checkbox_config == True">
	     	<p class="field-adapters">
	     		<py:with vars="add_attrs = {'checked': 'checked'} if (none_checked or inputRow.name in selectedParametersDictionary and selectedParametersDictionary[inputRow.name]['checked']) else {};
	     					   add_attrs2= {'disabled': 'disabled'} if disabled else {};
	     					   _x= add_attrs.update(add_attrs2);">
		        	<input type="checkbox" tabindex='1' name="${inputRow.name}_checked" class="param-config-checkbox" py:attrs="add_attrs"/>
		        </py:with>
	        </p>
        </py:if>   
    </py:def>
    
    <py:def function="generateDisplay(inputList, disabled, parentDivId, treeSessionKey='defaultTree', extra_class=None, draw_hidden_ranges = False)">
        <!--!    Genshi function, to generate one level in the tree of Adapter input parameters. -->
        <!--! In case some other form of elements except selects and inputs are used /static/JS/bursts.js should also be changed -->
        <fieldset>
            <py:if test="draw_hidden_ranges">
                <!-- This inputs will be used to remember which rangers are currently selected in UI.  -->
                <input type="hidden" id="range_1" name="range_1" value="0"/>
                <input type="hidden" id="range_2" name="range_2" value="0"/>
            </py:if>
        <dl py:if="inputList">
            <py:for each="inputRow in inputList">
            	<py:with vars="dt_class = extra_class if (extra_class is not None) else '';
            				   dt_class = dt_class + (' field-mandatory' if ('required' in inputRow and inputRow.required and not ('locked' in inputRow and inputRow.locked)) else '');
            				   dt_class = dt_class + (' dataset-selector' if (inputRow.type=='select' and 'datatype' in inputRow) else (' field-type-' + inputRow.type));">
            		<dt class="$dt_class">
						<label for="$inputRow.name" py:if="'label' in inputRow">$inputRow.label ${generate_help_tooltip(inputRow)}</label>
					</dt>
            	</py:with>
            	
                <dd>
                	<p class="field-data ${'field-series' if (inputRow.type=='select' and 'datatype' not in inputRow and len(inputRow.options) &lt; 5) else ''}">
	                    <py:if test="inputRow.type=='upload'">${draw_upload(inputRow)}</py:if>       
	                    <py:if test="inputRow.type=='array'">${draw_array_component(inputRow, disabled)}</py:if>
	                    <py:if test="inputRow.type=='str'">${draw_string_component(inputRow, disabled)}</py:if>
	                    <!--! When type is List we expect to have a string which should be the json representation of a list -->
	                    <py:if test="inputRow.type=='list'">${draw_string_component(inputRow, disabled)}</py:if>
	                    <py:if test="inputRow.type=='bool'">${draw_bool(inputRow)}</py:if>
	                    <py:if test="inputRow.type=='int'">${draw_number_component(inputRow, disabled, parentDivId)}</py:if>
	                    <py:if test="inputRow.type=='float'">${draw_number_component(inputRow, disabled, parentDivId)}</py:if>    
	                    <py:if test="inputRow.type=='select' and 'datatype' not in inputRow">${draw_simple_select(inputRow, disabled, parentDivId, treeSessionKey)}</py:if>
	                    <py:if test="inputRow.type=='select' and 'datatype' in inputRow">
	                    	${draw_datatype_full(inputRow, inputRow['disabled'] if 'disabled' in inputRow else disabled, parentDivId, treeSessionKey)}</py:if>
	                    <py:if test="inputRow.type=='selectMultiple'">${draw_multipleselect(inputRow, disabled, treeSessionKey)}</py:if>
                   </p>
                   
                    <p class="field-comment errorMessage" py:if="'inputRow.name' in errors">${errors[inputRow.name]}</p>
                    
                    <!--!  In case a new level in the tree is needed, call recursively the function to display it.-->
                    <py:if test="inputRow.type=='dict'">
                    	<label>Dictionary of parameters</label>
                    	<div id="dict_$inputRow.name">
                   	 		${generateDisplay(inputRow.attributes, True, "dict_" + inputRow.name, treeSessionKey)}
                   	 	</div>      
                    </py:if>
                </dd>
             </py:for>
        </dl>
       </fieldset>
    </py:def>
</div>


