<div class="adaptersDiv">

    {% if (includeGenericAdapterTemplateFunctions is not defined) or (includeGenericAdapterTemplateFunctions == true) %}
        {% include 'flow/genericAdapterTemplateFunctions.html' %}
    {% endif %}

    {% with %}

        {% if draw_hidden_ranges is defined %}
            {% set drawHiddenRanges =  draw_hidden_ranges %}
        {% else %}
            {% set drawHiddenRanges = false %}
        {% endif %}

        {% if treeSessionKey is defined %}
            {% set tree_session_key = treeSessionKey %}
        {% else %}
            {% set tree_session_key = 'defaultTree' %}
        {% endif %}

        {% import 'flow/genericAdapterTemplateFunctions.html' as gatf with context %}

        {% if form is defined %}
            {{ form | safe }}
        {% endif %}

        {% if inputList is defined %}
            {{ gatf.generateDisplay(inputList, false, "", tree_session_key, draw_hidden_ranges=drawHiddenRanges) }}
        {% endif %}

    {% endwith %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.adaptersDiv select').each(function () {
                if (!this.disabled)
                    if (this.onchange)
                        this.onchange();
            });
            $('.adaptersDiv input[type="radio"]').each(function () {
                if (!this.disabled) if (this.checked) if (this.onchange)
                    this.onchange();
            });
        });
    </script>
</div>
