<div xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="True">
		
    <script type="text/javascript" src="/static/jquery/jquery_ui.js"></script>    <!--JQuery custom imports for the Range controller -->
    <script type="text/javascript" src="/static/jquery/jquery.json-2.2.min.js"></script> 
    <script type="text/javascript" src="/static/jquery/ui.spinner.js"></script>
    <script type="text/javascript" src="/static/js/DateTimePicker_css.js"></script>
    <script type="text/javascript" src="/static/js/filters.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/js/stepsUpdate.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/js/range.js?$currentVersionJS"></script>

</div>


