#rangerForLinearColSch {
    width: 100%;
    display: inline-table;
}

#startColorSelector {
    margin-left: 0;
    margin-right: 0;
    display: inline-table;
}

#endColorSelector {
    margin-left: 60%;
    margin-right: 0;
    display: inline-table;
}

#sliderMinValue {
    padding: 10px;
}

#sliderMaxValue {
    padding: 10px;
}