<section class="configure-stimulus-shape view-column col-1">

    <script type="text/javascript" src="{{ deploy_context | safe }}/static_view/commons/scripts/regionBoundaries.js?{{ currentVersionJS }}"></script>
    <script type="text/javascript" src="{{ deploy_context | safe }}/static/js/base_vertice_pick.js?{{ currentVersionJS }}"></script>
    
    <h4><mark>Manage</mark> Focal points</h4>

    <div id="focalPointsDiv"></div>

    {% include 'spatial/left_template_brain_pick.html' %}
    
</section>