<div id="main" class="columnized colscheme-2-even">
	<script type="text/javascript" src="{{ deploy_context | safe }}/static/js/spatial/stimulus_region.js"></script>

    {% include 'spatial/refreshBaseUrl_initializer.html' %}
    {% include 'spatial/stimulus_region_step1_left.html' %}
    {% include 'spatial/stimulus_region_step1_right.html' %}

    <aside class="header-component toolbar can-extend auto-extends">
        <h3>SpatioTemporal Entities</h3>
        <div class="extension">
            <div class="dropdown-pane">
                <ul>
                    <li>
                        <button class="action action-analyze action-idle" disabled="disabled">
                            Edit Stimulus Equations
                        </button>
                    </li>
                    <li>
                        <button class="action action-view" onclick="STIM_submitRegionStimulusData('{{ next_step_url }}', 2);return false;">
                            Set Regions Scaling
                        </button>
                    </li>
                    <li>
                        {% if anyScalling %}
                            <button class="action action-plus" onclick="STIM_submitRegionStimulusData('{{ next_step_url }}', 3);return false;">
                                Save Stimulus Region
                            </button>
                        {% else %}
                            <button class="action action-plus action-idle" onclick="displayMessage('You first need to define your regions scaling!', 'infoMessage');return false;">
                                Save New Stimulus on Region
                            </button>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>