<div style="width:100%; height:100%">
    <!--! Need separate cases since firefox won't display normal images properly if we
        use object element, and also both chrome and firefox will change .png images
        sizes if used with object element. -->
    {% if not figure_file_path.endswith('.svg') %}
        <img src="{{ deploy_context | safe }}/flow/readserverstaticfile/{{ figure_file_path }}" class="tvb-snapshot-image"/>
    {% else %}
        <object style="width:100%; height:100%" data="{{ deploy_context | safe }}/flow/readserverstaticfile/{{ figure_file_path }}"></object>
    {% endif %}
</div>