<!-- ============================= -->
<!--     Main Content              -->
<!-- ============================= -->
<form method="post"> 
  <div id="main">
    <aside class="header-component toolbar can-extend auto-extends">
        <h3>Recover Password</h3>
        <div class="extension">
            <div class="dropdown-pane">
                <ul>
                    <li><button tabindex='50' type="submit" class="action action-delete">Reset password</button></li>
                    <li class="action-dismiss"><button tabindex='50' type="submit" value="Cancel" name="cancel" class="action action-cancel">Cancel</button></li>
                </ul>
            </div>
        </div>
    </aside>
	<table class="contentTable" summary="Register New User">
		<thead><tr><td colspan='2'><h1>Password recovery</h1><br/></td></tr></thead>
		<tr>
			<td><label for="email">Email Address *</label></td>
			<td><input tabindex='2' id="email" type="textField" name="email" value="{{ data.email if ('email' in data) else '' }}" class="inputField"/>
				<br/>
				{% if 'email' in errors %}
					<span class="errorMessage">{{ errors.email }}</span>
				{% endif %}
			</td>
		</tr>
        <tr>
			<td><label for="username">Username</label></td>
			<td><input tabindex='3' id="username" type="textField" name="username" value="{{ data.username if ('username' in data) else '' }}" class="inputField"/>
				<br/>
				{% if 'username1' in errors %}
					<span class="errorMessage">{{ errors.username }}</span>
				{% endif %}
			</td>
		</tr>
	</table>
  </div>
</form>