{% for user in usersList %}
    <span display="inline" class="user_on_page_{{ usersCurrentPage }}">
        <input type="checkbox" name="users" value="{{ user.id }}" id="{{ user.id }}" tabindex="5"
               {{ ("checked='checked'") | safe if user.id in usersMembers }}
               {{ ("disabled='disabled'") | safe if not editUsersEnabled  }} />
        {{ user.display_name }}
        <img src="{{ deploy_context | safe }}/static/style/img/role/{{ user.role | lower }}.png" alt="{{ user.role }}" class="userRole"/>
        <br/>
    </span>
{% endfor %}