<?xml version="1.0"?>
 
		
<events>
	<event hookpoint="ProjectService.store_project">
		<adapter module="tvb.tests.framework.adapters.testadapter1" class="TestAdapter1" uid="test_uid"/>
		<method name="launch"/>
		<args>
			<arg name="test1_val1" value="10" type="int"/>
			<arg name="test1_val2" value="10" type="int"/>
		</args>
	</event>	
</events>