<div id="main" class="columnized colscheme-2-even" xmlns:xi="http://www.w3.org/2001/XInclude">
    <script type="text/javascript" src="/static/js/canvas2image.js"></script>

    <xi:include href="model_param_region_left.html"/>
    <xi:include href="model_param_region_right.html"/>

    <form id="base_spatio_temporal_form" action="${submit_parameters_url}" method="POST">
	    <!-- === Box: Form controls -->
	    <aside class="header-component toolbar can-extend auto-extends">
	    	<h3>SpatioTemporal Entities</h3>
		  <div class="extension">
		   <div class="dropdown-pane">
	        <ul>
                <li>
                    <button class="action action-download" type="button" id="ctrl-action-export">
                    	Save Figure
                    </button>
                </li>
	        	<li>
                    <button class="action action-confirm">
                    	Submit Region Parameters
                    </button>
                </li>
	        </ul>
	       </div>
	      </div>
	    </aside>
	</form>

	<script type="text/javascript">
        $(document).ready(function () {
            $("#ctrl-action-export").click(function(){
                C2I_exportFigures({suggestedName:"region-parameters"});
                return false;
            });
        });
    </script>
</div>