<section xmlns:xi="http://www.w3.org/2001/XInclude" class="configure-stimulus-shape view-column col-1">
	
	<h4><mark>Configure</mark> Node Parameters</h4>
	<script type="text/javascript" src="/static/js/spatial/model_parameters.js" ></script>

    <xi:include href="../visualizers/connectivity/hemispheres.html"/>
    ${drawConnectivitySelection(selectedConnectivityGid)}

    <section class="hemisphere">
        ${drawHemisphereSection('First', pointsLabels[:len(pointsLabels)/2], 0, 'setModelParams')}
    </section>
    <section class="hemisphere">
        ${drawHemisphereSection('Second', pointsLabels[len(pointsLabels)/2:], len(pointsLabels)/2, 'setModelParams')}
    </section>
	
	<fieldset>
		<legend> Selected node plot: </legend>
	</fieldset>
	<div style="margin-left: 15px; margin-bottom: 30px">
		<xi:include href="../visualizers/mplh5/figure.html"/>
	</div>
	
	<fieldset>
		<legend> Configure parameters: </legend>
		<div id='div_spatial_model_params'>
	        <xi:include href="model_param_region_param_sliders.html"/>
	    </div>
	</fieldset>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#availableSelectionsList", MP_copyAndLoadModel);
            $(document).on("click", "#addAllMatrixToInterestAreaBtn", MP_copyAndLoadModel);
            $(document).on("click", "#loadSelectionFromTextBtn", MP_copyAndLoadModel);
        });
    </script>
    
</section>
