<section class="configure-stimulus-equation view-column col-2"  xmlns:xi="http://www.w3.org/2001/XInclude">
	
	<h4><mark>Select</mark> Connectivity Region</h4>
	
    <xi:include href="../visualizers/connectivity/left_template_connectivity_view.html"/>

    <div id="modelEquations" style="padding: 0 40px">
        ${Markup(modelEquations)}
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#GLcanvas").click(function () {
                MP_toggleAndLoadModel(CONN_pickedIndex);
            });
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, 'modelEquations']);
        });
    </script>
    
</section>