<section xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude"  class="configure-stimulus-shape view-column col-1">
	
	<h4><mark>Configure</mark> Node Parameters</h4>
	<script type="text/javascript" src="/static/js/spatial/model_parameters.js" ></script>

    <xi:include href="../visualizers/connectivity/hemispheres.html"/>
    ${drawConnectivitySelection(selectedConnectivityGid)}

    <section class="hemisphere">
        ${drawHemisphereSection('First', pointsLabels[:len(pointsLabels)/2], 0)}
    </section>
    <section class="hemisphere">
        ${drawHemisphereSection('Second', pointsLabels[len(pointsLabels)/2:], len(pointsLabels)/2)}
    </section>
	
	<fieldset>
		<legend>
			Configure noise dispersion for state variables:
		</legend>
		<div id='div_spatial_noise_config'>
	        <table class="paramSlidersTable" py:if="parametersNames">
	            <tr py:for="idx, paramName in enumerate(parametersNames)">
	                <td class="paramName">${paramName}</td>
	                <td><input type="text" id="noisevalue__${idx}" value="${paramSlidersData[paramName]}"/></td>
	            </tr>
	            <tr>
	            	<td></td><td><br/></td>
	            </tr>
	            <tr>
	            	<td></td>
	            	<td><input type="button" onclick="NP_updateNoiseParameters('div_spatial_noise_config')" value="Save values for selection"/></td>
	            </tr> 
	        </table>
	    </div>
	</fieldset>

    <script type="text/javascript">
        $(document).ready(function () {
        	NP_loadDefaultNoiseValues();
            $(document).on("change", "#availableSelectionsList", NP_copyAndLoadNoiseConfig);
            $(document).on("click", "#addAllMatrixToInterestAreaBtn", NP_copyAndLoadNoiseConfig);
            $(document).on("click", "#loadSelectionFromTextBtn", NP_copyAndLoadNoiseConfig);
        });
    </script>
    
</section>
