<div id="main" class="columnized colscheme-2-even" xmlns:xi="http://www.w3.org/2001/XInclude">
	
    <xi:include href="noise_configuration_left.html"/>
    <xi:include href="noise_configuration_right.html"/>
    
    <form id="base_spatio_temporal_form" action="${submit_parameters_url}" method="POST">
	    <!-- === Box: Form controls -->
	    <aside class="header-component toolbar can-extend auto-extends">
	    	<h3>SpatioTemporal Entities</h3>
		  <div class="extension">
		   <div class="dropdown-pane">
	        <ul>
	        	<li>
                    <button class="action action-confirm">
                    	Submit Noise Configuration
                    </button>
                </li>
	        </ul>
	       </div>
	      </div>
	    </aside>
	 </form>
	 
</div>