[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
pytest = "*"
matplotlib = "*"
scipy = "*"
mako = "*"
autopep8 = "*"
gdist = "*"
pylems = "*"
h5py = "*"
tqdm = "*"
tvb-data = "*"
aesara = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-benchmark = "*"
pytest-mock = "*"
