numba
scipy
numpy
networkx
cython
numexpr
psutil
pytest
pytest-cov
pytest-xdist
pytest-benchmark
pytest-mock
matplotlib
h5py
BeautifulSoup4
subprocess32
mako>=1.1.4
lxml
pylems
formencode
werkzeug
gevent
ipywidgets
autopep8