{% macro draw_datatype_select(inputRow, disabled, parentDivId, treeSessionKey) -%}

	{% with %}

		{% if 'filters_ui' in inputRow %}
			{% set linkedFilter = 'filterLinked(' + inputRow.filters_ui + ', \'\'+this.value, \'' | safe + treeSessionKey + '\')' | safe %}
		{% else %}
			{% set linkedFilter = '' %}
		{% endif %}

		{% if disabled %}
			{% set add_attrs = ("disabled='disabled'") | safe %}
		{% else %}
			{% set add_attrs = '' %}
		{% endif %}

		{% if 'warning' in inputRow %}
			{% set options_title = inputRow.warning %}
		{% else %}
			{% set options_title = 'Fully Loaded!' %}
		{% endif %}

		<!--! 	Redraw A DataType select when drawing full interface or after filtering from UI (AJAX call).	 -->

		<select tabindex='1' name="{{ inputRow.name }}" id="{{ inputRow.name }}" class="dataset-selector" {{ add_attrs }}
				onchange="updateDivContent('data_{{ inputRow.name }}', this, '{{ parentDivId }}'); updateDatatypeDiv(this); {{ linkedFilter }}"
				title="{{ options_title }}">

			{% if ('required' not in inputRow) or (not inputRow.required) %}
				<option value="">None</option>
			{% endif %}

			{% for option in inputRow.options %}
				{% with %}
					{% if ('default' in inputRow) and ((option.value | string) == (inputRow.default | string)) %}
						{% set add_attrs = ("selected='selected'") | safe %}
					{% else %}
						{% set add_attrs = '' %}
					{% endif %}

					<option value="{{ option.value }}" {{ add_attrs }} title="{{ options_title }}"> {{ option.name }} </option>
				{% endwith %}
			{% endfor %}

		</select>

    {% endwith %}

{%- endmacro %}
	
{{ draw_datatype_select(inputRow, disabled, parentDivId, treeSessionKey) }}

