{% macro draw_simple_select(inputRow, disabled, parentDivId, treeSessionKey) -%}
    <!--! Model/Monitor/ enumerates - a select that optionally has a subtree with attributes for each option-->

    <!--! The file needed to also be included because of the stepsUpdate.js file which is needed for Simulator-Phase plane-->
    {% import 'flow/genericAdapterTemplateFunctions.html' as gatf with context %}
    {% include 'flow/genericAdapterTemplateFunctions.html' %}

    {% if (inputRow.options | length) > 4 %}

        {% if inputRow.options %}
            <select name="{{ inputRow.name }}" tabindex='1' id="{{ inputRow.name }}" {{ ("disabled='disabled'") | safe if disabled }}
                    onchange="updateDivContent('data_{{ inputRow.name }}', this, '{{ parentDivId }}');">
                    {% if ('required' not in inputRow) or (not inputRow.required) %}
                        <option value="">None</option>
                    {% endif %}
                    {{ gatf.create_select_options(inputRow, false) }}
            </select>
        {% endif %}

    {% else %}

        {% for option in inputRow.options %}
            <input type="radio" name="{{ inputRow.name }}" value="{{ option.value }}" onchange="updateDivContent('data_{{ inputRow.name }}', null, '{{ parentDivId }}', this);"
            id="{{ inputRow.name ~ '_' ~ option.value }}"
            {{ 'checked' if 'default' in inputRow and ((option.value | string) in (inputRow.default | string)) }}/>
            <label for="{{ inputRow.name ~ '_' ~ option.value }}">{{ option.name }}</label>
        {% endfor %}

    {% endif %}

    {{ gatf.add_checkbox_control(inputRow) }}

    {% for option in inputRow.options %}
        {% with %}
            {% set isEnabled =('default' in inputRow and ((option.value | string)==(inputRow.default | string))) or ('default' not in inputRow and (option.value | string)==(inputRow.options[0].value | string)) %}
            <div id="data_{{ inputRow.name }}{{ option.value }}" style="display:{{ 'block' if isEnabled and not disabled else 'none' }}">
                {% import 'flow/generate_help_tooltip.html' as ght with context %}
                {{ ght.generate_help_tooltip(option) }}
                {% if 'attributes' in option and option.attributes %}
                    {{ gatf.generateDisplay(option.attributes, not isEnabled or disabled, "data_" ~ inputRow.name ~ (option.value | string), treeSessionKey) }}
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}

{%- endmacro %}