<!--! ========================================================== -->
<!--!    Main Navigation - Common footer for all pages           -->
<!--! ========================================================== -->
<footer>
    {% set currentTab='nav-' ~ section_name %}
        <div id="bottom-nav">
        <ul style="border-radius: 20px; width: 100%;background-color: #6C738D;height: 5.5vh; display:flex;">
            <li tabindex='99' onkeypress="redirectToHrefChild(this)" id="nav-user" class="{{ 'active ' if (currentTab=='nav-user' and not first_run) else '' }}{{'enabled' if not first_run else 'idle' }}">
                <a style="width: 15vw;height:100vh;padding: 1.5vh;" href="{{ deploy_context | safe }}{{ '/user/profile' if (user and not first_run) else '/user' if not first_run else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-user" style="margin-right: 1rem;"></i>User</p>
                </a>
            </li>
            <li>
                <a style="width: 15vw;height:100vh;padding: 1.5vh;"  href="{{ deploy_context | safe }}{{ '/project/' if (user and not first_run) else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-file" style="margin-right: 1rem;"></i>Projects</p>
                </a>
            </li>
            <li>
                <a style="width: 15vw;height:100vh;padding: 1.5vh;"  href="{{ deploy_context | safe }}{{ '/burst/' if selectedProject else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-rocket" style="margin-right: 1rem;"></i>Simulator</p>
                </a>
            </li>
            <li>
                <a style="width: 15vw;height:100vh;padding: 1.5vh;"  href="{{ analyzeCategoryLink if selectedProject else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-cog" style="margin-right: 1rem;"></i>Analysis</p>
                </a>
            </li>
            <li>
                <a style="width: 15vw;height:100vh;padding: 1.5vh;"  href="{{ deploy_context | safe }}{{ '/spatial/' if selectedProject else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-map-marker-alt" style="margin-right: 1rem;"></i>Stimulus</p>
                </a>
            </li>
            <li>
                <a style="width: 15vw;height:100vh;padding: 1.5vh;"  href="{{ connectivityTabLink if selectedProject else '#' }}" tabindex='-1' title="">
                    <p style="font-size:1.5rem;color: white;text-align: center;"><i class="fa fa-project-diagram" style="margin-right: 1rem;"></i>Connectivity</p>
                </a>
            </li>
        </ul> 
    </div> 
    <script type="text/javascript">
    	setUpKeyWatch()
    </script>
</footer>