<!-- ============================= --> 
<!--     Settings Page Content     --> 
<!-- ============================= -->
<tvb xmlns:py="http://genshi.edgewall.org/">
	<div id="main" class="main-settings" xmlns:py="http://genshi.edgewall.org/">
    	<form method="post"> 
			<table summary="Config data" class="contentTable">	
				<py:for each="key in keys_order">		
					<tr py:if="key is None"><td colspan='2'> <HR/></td> </tr>
					<py:if test="key is not None">
					<py:with vars="data = config_data[key]">
						<tr>
							<td>${data.label}:</td>
							<td>
								<input name='$key' id='$key' class="inputField" type="text" value="${data.value if data.value is not None else ''}" py:if="data.type=='text' and ('readonly' not in data or not data.readonly)"/>
								<input name='$key' id='$key' class="inputField" type="text" readonly="readonly" value="${data.value if data.value is not None else ''}" py:if="data.type=='text' and ('readonly' in data and data.readonly)"/>
								
								<input name='$key' id='$key' class="inputField" type="password" value="${data.value if data.value is not None else ''}" py:if="data.type=='password' and ('readonly' not in data or not data.readonly)"/>
								<input name='$key' id='$key' class="inputField" type="password" readonly="readonly" value="${data.value if data.value is not None else ''}" py:if="data.type=='password' and ('readonly' in data and data.readonly)"/>
								
								<input name='$key' id='$key' class="inputField" type="checkbox" checked="checked" py:if="data.type=='boolean' and data.value"/>
								<input name='$key' id='$key' class="inputField" type="checkbox" py:if="data.type=='boolean' and not data.value"/>
								
								<select name="$key" id='$key' class="inputField" onchange="changeDBValue(this);" py:if="data.type=='select' and key=='URL_VALUE' and ('readonly' not in data or not data.readonly)">
                        			<py:for each="option in data.options">
                            			<option value="${option}" selected="selected" py:if="(option == data.value)" correspondingVal='${data.options[option]}'>
                              	 			 ${option} </option>
                            			<option value="${option}" py:if="option != data.value" correspondingVal='${data.options[option]}'>
                              	 			 ${option} </option>
                        			</py:for>            
                    			</select>
                                <select name="$key" id='$key' class="inputField" py:if="data.type=='select' and key!='URL_VALUE' and ('readonly' not in data or not data.readonly)">
                        			<py:for each="option in data.options">
                            			<option value="${option}" selected="selected" py:if="(option == data.value)" correspondingVal='${data.options[option]}'>
                              	 			 ${option} </option>
                            			<option value="${option}" py:if="option != data.value" correspondingVal='${data.options[option]}'>
                              	 			 ${option} </option>
                        			</py:for>
                    			</select>
                                <!--! The select is readonly-->
                    			<select name="$key" id='$key' class="inputField" disabled="disabled" py:if="data.type=='select' and ('readonly' in data and data.readonly)">
                        			<py:for each="option in data.options">
                                        <py:if test="option == data.value">
                                            <option value="${option}" selected="selected" correspondingVal='${data.options[option]}'>
                                                   ${option} </option>
                                            <input type="hidden" name="$key" value="${option}"/>
                                        </py:if>
                            			<option value="${option}" py:if="option != data.value" correspondingVal='${data.options[option]}'>
                              	 			 ${option} </option>
                        			</py:for>            
                    			</select>
                    			
                    			<button type='button' onclick="validateDb('$key', 'TVB_STORAGE')" value='validate' py:if="key=='URL_VALUE'">Validate DB</button>
                    			<button type='button' onclick="validateMatlabPath('$key')" value='validate' py:if="key=='MATLAB_EXECUTABLE'">Validate path</button>
							</td>				
						</tr>	
						<tr>
							<td colspan='2'>
								<span py:if="('description' in data)" class="inputDescription">${data.description}</span>	
							</td>
						</tr>
						<tr>
							<td colspan='2'>
								<span py:if="key in errors" class="errorMessage">${errors[key]}</span>									
							</td>
						</tr>
					</py:with>
					</py:if>		
				</py:for>
			</table>
			<aside class="header-component toolbar can-extend auto-extends">
				<h3>System Settings</h3>
			  <div class="extension">
			   <div class="dropdown-pane">
		        <ul> 
		            <li><button tabindex='50' type="submit" class="action action-confirm" name='save_settings' value='save_settings' title="The application will need to restart when you apply this changes, if this is the first run or if any settings were changed. Please be patient !!!">Apply</button></li> 
		        </ul> 
		       </div>
		      </div>
		    </aside>
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(settingsPageInitialize);
	</script>
</tvb>