<div id="s-brain" class="{{ 'brain view-column' if not extended_view else '' }}">

    {% include 'visualizers/commons/gl_view_header.html' %}
    {% include 'visualizers/commons/fragment_shader.html' %}
    {% include 'visualizers/commons/vertex_shader.html' %}

    <script type="text/javascript">
        $(document).ready(function () {
            VS_StartBrainActivityViewer('{{ base_adapter_url }}', {{ pageSize  }}, '{{ time | safe }}',
                '' + '{{ urlVertices | safe }}', '{{ urlLines | safe }}', '{{ urlTriangles | safe }}',
                '{{ urlNormals | safe }}', '{{ urlMeasurePoints | safe }}', {{ noOfMeasurePoints }},
                '{{ urlRegionMap | safe }}', '{{ minActivity }}', '{{ maxActivity }}', '{{ isOneToOneMapping }}',
                {{ 'true' if extended_view else 'false' }},
                {{ ("'" + shellObject + "'" if shellObject else 'null') | safe }}, {{ hemisphereChunkMask }},
                '{{ urlMeasurePointsLabels  }}', '{{ urlRegionBoundaries | safe }}', '{{ measurePointsSelectionGID }}');
        });
    </script>

    {% include 'visualizers/commons/activity_toolbar.html' %}

    {% with %}
        {% set show_navigator = not extended_view %}
        {% include 'visualizers/commons/gl_view_after.html' %}
    {% endwith %}
</div>