<form id="form_edit_metadata" method="post" xmlns:py="http://genshi.edgewall.org/">
	
	<fieldset class="toolbar-inline">
		<ul>
            <li py:if="'operation' not in nodeType">
            	<button type="button" value="Save" tabindex="4" onclick="overlaySubmitMetadata('form_edit_metadata', 'null');"
                        class="action action-confirm" title="Submit current changes to node attributes">Save</button>
            </li>
            <li py:if="'operation' in nodeType and displayReloadBtn">
				<button type="button" value="Reload" onclick="reloadOperation(${operationId}, 'form_edit_metadata');"
                		class="action action-confirm" title="Reload the selected operation">Reload </button>
            </li>
                
			<!--MakeRelevant/MakeNotRelevant-->
            <li py:with="toBeStatus = 'False' if isRelevant else 'True';
                      buttonLabel ='Make irrelevant' if isRelevant else 'Make relevant';
	                  buttonClass ='action-make-irrelevant' if isRelevant else 'action-make-relevant';">

	            <button type="button" class="action action-relevancy $buttonClass" title="Make this operation(s) ${'Irrelevant' if isRelevant else 'Relevant'}"
	            		onclick="overlayMarkVisibility('${entity_gid}', '$nodeType', '$toBeStatus', '$backPageIdentifier');">$buttonLabel</button>
	            	
            </li>
	        
			<li py:if="'operation' not in nodeType" class="tool-removal">
				<button type="button" tabindex='2' value="Remove" onclick="overlayRemoveEntity(${project.id}, '${entity_gid}', '$backPageIdentifier');"
						class="action action-remove" title="Delete currently selected node">Remove</button>
            </li>
		</ul>
	</fieldset>

    <input type="hidden" name="nodeType" value="${nodeType}"/>
    <div class="metadata-body">
	<fieldset py:for="i, fields_dictionary in enumerate(nodeFields)">

		<legend py:if="i &gt; 0 or len(nodeFields) == 1">Generic Metadata</legend>
		<legend py:if="i == 0 and len(nodeFields) &gt; 1 and 'operation' not in nodeType">Scientific Metadata</legend>
		<legend py:if="i == 0 and len(nodeFields) &gt; 1 and 'operation' in nodeType">Changed Input Parameters</legend>
		
		<dl>
			<py:for each="field_key in sorted(fields_dictionary.iterkeys())">
			<py:with vars="field_def = fields_dictionary[field_key]">
			
				<py:if test="field_def and not field_def.get('hidden')=='True'">
					<dt class="">
						<label for="$field_key">${field_def['name']} :</label>
					</dt>
					<dd>
						<p class="field-data">
							<input id="$field_key" type="text" name="$field_key" class="inputField" tabindex="3"
								   value="${field_def.get('value', '')}"
								   readonly="${'readonly' if field_def.get('readonly') == 'True' else None}"
								   disabled="${'disabled' if field_def.get('disabled') == 'True' else None}"
                                   py:if="field_key != 'data_state'"/>
                                   
                            <select id="$field_key" name="$field_key" class="inputField" py:if="field_key=='data_state'" tabindex="3">
								<option value="${state}" py:for="state in allStates"
									selected="${'selected' if state == field_def['value'] else None}">${allStates[state]}</option>
                            </select>
						</p>
					</dd>
				</py:if>
                <py:if test="field_def and field_def.get('hidden') == 'True'">
                    <input id="$field_key" type="hidden" name="$field_key" value="${field_def.get('value', '')}"/>
                </py:if>
            </py:with>
			</py:for>
		</dl>
	</fieldset>
	</div>
</form>

