<!-- ============= --> 
<!-- Main Content --> 
<!-- ============================= -->
<div id="main" class="columnized colscheme-2-2nd-third">
<form id="editProjectForm" method="post" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<input type="hidden" name="visited_pages" id="visitedPages" value="${'1' if editUsersEnabled else ''}"/>

	<!-- Toolbar --> 
    <aside class="header-component toolbar can-extend auto-extends">
    	<h3>Edit Project</h3>
	  <div class="extension">
	   <div class="dropdown-pane">
        <ul> 
            <li py:if="not isCreate">
                <button type="submit" tabindex='50' class="action action-delete"
                        value="Delete" name="delete"
                        onclick="showQuestionOverlay('Are you sure you want to delete the project ${data.name}?', 'removeProject(\'$data.project_id\', \'editProjectForm\')'); return false; ">Delete Project</button>
            </li>
            <li py:if="not isCreate">
                <button type="button" tabindex='50' class="action action-download"
                        value="Export" name="export" onclick="exportProject('$data.project_id')">Export Project</button>
            </li>
            <li>
                <button type="submit" tabindex='50' class="action action-confirm"
                        value="Save" name="save">Save Changes</button>
            </li>
            <li class="action-dismiss">
                <button type="submit" tabindex='50' class="action action-cancel"
                        value="Cancel" name="cancel">Cancel</button>
            </li>
        </ul> 
       </div>
      </div>
    </aside>

	<!--! Column containing editable project fields -->
	<section class="project-attributes view-column col-1">
	<h4><mark>Edit</mark> Project attributes</h4>
	
	<fieldset>
		<dl>
			<dt class="field-mandatory">
				<label for="name">Project Name</label>
			</dt>
			<dd>
				<p class="field-data"><input tabindex='1' id="name" type="text" name="name" value="${data.name if ('name' in data) else ''}" /></p>
				<p py:if="'name' in errors" class="field-comment errorMessage">${errors.name}</p>
			</dd>
			
			<dt>
				<label for="description">Project description</label>
			</dt>
			<dd>
				<p class="field-data"><textarea tabindex='2' id="description" name="description">${data.description if ('description' in data) else ''}</textarea></p>
				<p py:if="'description' in errors" class="field-comment errorMessage">${errors.description}</p>
			</dd>
			
			<dt>
				<label for="administrator">Administrator</label>
			</dt>
			<dd>
				<p class="field-data"><input tabindex='3' id="administrator" type="text" value="${data.administrator if ('administrator' in data) else ''}" disabled="disabled"/></p>
			</dd>
			
		</dl>
	</fieldset>
		</section>
	
	<!--! Column containing user list the project is shared with -->
	<section class="project-shares view-column col-2">
	<h4><mark>Share</mark> Data with other users</h4>
	
			    <table>
			        <tr>
			            <td py:for="i in range(usersPages)" id="tab-${i + 1}" tabindex="4" onkeypress="fireOnClick(this)" 
			                onclick="changeMembersPage(${data.project_id if data.project_id else 'null'}, ${i + 1}, 'checkboxesList', ${str(editUsersEnabled).lower()})"
			                class="projectmembers-pagetab ${'projectmembers-pagetab-selected' if i+1==usersCurrentPage else ''}">Page ${i+1}</td>
			        </tr>
			    </table>
				<div id="checkboxesList" py:if="usersList">
					<xi:include href="project_members.html"/>
				</div>
	</section>
	
	
</form>
</div>
