<div xmlns:py="http://genshi.edgewall.org/" style="width:100%; height:100%">
	<!--! Need separate cases since firefox won't display normal images properly if we
		use object element, and also both chrome and firefox will change .png images
		sizes if used with object element. -->
	<py:if test="not figure_file_path.endswith('.svg')">
		<img src="/flow/readserverstaticfile/${figure_file_path}" class="tvb-snapshot-image"/>
	</py:if>
	
	<py:if test="figure_file_path.endswith('.svg')">
		<object style="width:100%; height:100%" data="/flow/readserverstaticfile/${figure_file_path}"/>
	</py:if>
</div>
