<div xmlns:py="http://genshi.edgewall.org/" py:strip="True">
    <link rel="stylesheet" type="text/css" href="/static/style/section_project.css?$currentVersionJS" py:if="section_name=='project'"/>
    <link rel="stylesheet" type="text/css" href="/static/style/section_burst.css?$currentVersionJS" py:if="section_name=='burst'"/>

    <script type="text/javascript" src="/static/jquery/jquery.jstree.js?$currentVersionJS"></script>
    <script type="text/javascript" src="/static/js/canvas2image.js?$currentVersionJS" py:if="subsection_name=='figures'"></script>
</div>