<div id="main" class="columnized colscheme-2-1st-narrow" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">

    <script type="text/javascript" src="/static/js/projectTree.js?$currentVersionJS"></script>
    
    <xi:include href="pagination.html"/>
   
    <py:def function="displayOperationResults(operation_row)">
		<!--! Function for displaying a given Operation's result column:
			  - list of icons for results, 
			  - expand button in case of a group, or 
			  - figures in case of Visualizers with saved images.
		-->
    	<nav class="inline-menu" py:if="operation_row['datatype_group_gid'] is not None">
			<button class="action action-menu" type="button">Expand</button>
			
			<div class="extension">
				<div class="dropdown-pane" onkeypress="redirectToHrefChild(this)" tabindex="3">
					<mark>${operation_row['count']} operations</mark>
					<p>Group ${operation_row['group']}</p>

					<py:for each="view_algo in operation_row.view_groups"
						py:with="launchParamName = view_algo.parameter_name;
								 launchParamVal = operation_row['datatype_group_gid'];
								 url = '/flow/' + str(view_algo.fk_category) + '/' + str(view_algo.id)">

						<a href="#" title="Go view the diagram"
						   class="action action-crosslink crosslink-s-project crosslink-ss-stray" tabindex="-1"
						   onclick="launchAdapter('$url', '$launchParamName', '$launchParamVal', 'operations', false);">
						   $view_algo.displayname </a>
					</py:for>
				</div>
			</div>
		</nav>
	
	    <div py:if="operation_row['results'] is not None">
	        <img py:for="result in operation_row['results']" src="/static/style/nodes/node${result.type}.png" class="result_icon"
	             title="$result.display_name" py:if="not result.invalid and not result.is_nan"
	             onclick="displayNodeDetails('$result.gid', '$result.type', 'operations');" />
            <img py:for="result in operation_row['results']" src="/static/style/nodes/nodeInvalid.png" class="result_icon"
	             title="$result.display_name" py:if="result.invalid or result.is_nan"/>
	    </div>
	    
	    <py:if test="operation_row['figures'] is not None">
		    <div class="image-container" py:for="figure in operation_row['figures']">
				<a href="/project/figure/displayresultfigures/" title="View this figure in your figure list"
					class="action action-crosslink crosslink-s-project crosslink-ss-figures">
					<div><img src="/flow/readserverstaticfile/${figure.figure_path}" /></div>
				</a>
			</div>
	    </py:if>
	</py:def>
    
<form id="operationsForm" method="post" action="/project/viewoperations/${selectedProject.id}">
	<!--! Column w/ filters for the operation list -->
	<section class="ops-filter view-column col-1">
		<h4><mark>Filter</mark></h4>
		
		<ul>
			 <li class="${'active' if no_filter_selected else ''}">
				<a href="#" title="Reset all filters" onclick="resetOperationFilters('operationsForm')">Display All (${total_op_count})</a>
			 </li>
			 <py:for each="f in filters">
				 <li class="${'active' if f.selected else ''}">
					<a href="#" title="${'Disable' if f.selected else 'Enable'} this filter" onclick="applyOperationFilter('${f.display_name}', 'operationsForm')">
						${f.display_name} <py:if test="f.passes_count">(${f.passes_count})</py:if>
					</a>
				</li>
            </py:for>
			<input type="hidden" name="filtername" id="filtername"/>
		</ul>
	</section>
	
	<!--! Column displaying the operation list -->
	<section class="ops-list view-column col-2">
		<h4><mark>Manage</mark> Operations</h4>

		<table>
			<thead>
				${displayPaginationControls(page_number, total_pages, 11, 'operationsForm')}
				<input type="hidden" name="page" value="$page_number" id="currentPage"/>
				
				<tr>
					<th class="id" title="Operation identifier -application specific. In case of a range of operations, an interval will be displayed."></th>
					<th class="state" title="Operation status at last page refresh">Status</th>
					<th class="control" title="Reload / Pause / Stop">Control</th>
					<th class="ops" title="Operation Category and Name">Operation</th>
					<th class="brst" title="Simulation Group Name">Simulation</th>
					<th class="user" title="Name of the user initiating current operation">Creator</th>
					<th class="start-end" title="Exact time when the operation was scheduled for execution/ Time of completion">Created/Ended</th>
					<th class="time" title="Difference between start and complete time. Start time might be different than the Create Time (due to queueing).">Duration</th>
					<th class="result" title="Types and number of operation results">Result</th>
					<th class="relevancy" title="Relevance of an operation">Relevance</th>
				</tr>
			</thead>
			
			<tfoot>
				${displayPaginationControls(page_number, total_pages, 11, 'operationsForm')}
			</tfoot>
			
			<tbody py:if="operationsList">
				<tr py:for="operation in operationsList"
					py:with="status_class={model.STATUS_FINISHED:'ops-finished', model.STATUS_ERROR:'ops-error', model.STATUS_CANCELED:'ops-cancelled',
				   						  model.STATUS_STARTED:'ops-started', model.STATUS_PENDING:'ops-submitted'}[operation['status']]"
					class="${'ops-group' if operation['group'] else 'ops-single'}
					       ${status_class}
					       ${'ops-relevant' if operation['visible'] else 'ops-irrelevant'}
					       ops-type-${operation['algorithm'].algorithm_category.displayname.lower()}" >
					<td class="id" title="${operation['operation_tag']}">
						${operation['id']}
					</td>

					<td class="state" py:with="op_ui_status = operation['status'].split('-')[1].title()">
						<a py:if="operation['additional'] == ''"  class="action action-mini-zoom-in"
						   onclick="displayNodeDetails('${operation['gid']}', '${'operationGroup' if operation['group'] else 'operation'}', 'operations');"
						   title="Show details...">${op_ui_status}</a>

						<nav class="inline-menu" py:if="operation['additional'] != ''">
							<button tabindex='3' class="action action-menu" onclick="return false;"><mark>${op_ui_status}</mark></button>

							<div class="extension">
								<div class="dropdown-pane">
									<mark>Retrieved ${'error' if operation['status']== model.STATUS_ERROR else 'warning'} message:</mark>
									<p>${operation['additional']}</p>

									<a class="action action-mini-zoom-in"
									   onclick="displayNodeDetails('${operation['gid']}', '${'operationGroup' if operation['group'] else 'operation'}', 'operations');"
									   title="Show details...">Show operation details</a>
								</div>
							</div>
						</nav>
					</td>

					<td class="control" py:with="op_id = operation['id'] if not operation['group'] else operation['operation_group_id']; is_group = 1 if operation['group'] else 0">
						<div class="action-block block-player">
							<py:choose test="not operation['burst_name']=='-'">
								<py:when test="True">
									<!--! Part of a burst. Redirect to burst page with this one as selected -->
									<button tabindex='3' type="submit" class="action action-run" onclick="reloadBurstOperation('${op_id}', ${is_group}, 'operationsForm')">
										Reload
									</button>
								</py:when>
								<py:otherwise>
									<py:choose test="(not operation['group']) and (not operation['algorithm'].algorithm_category.displayname == 'Create') and (not operation['algorithm'].algorithm_category.rawinput)">
										<py:when test="True">
											<!--! Normal operation reload -->
											<button tabindex='3' type="submit" class="action action-run" onclick="reloadOperation(${operation['id']}, 'operationsForm')">Reload</button>
										</py:when>
										<py:otherwise>
											<!--! Upload or non-burst group which we can't reload -->
											<button tabindex='3' type="submit" class="action action-run action-idle" disabled="disabled">Reload</button>
										</py:otherwise>
									</py:choose>
								</py:otherwise>
							</py:choose>
							<py:choose test="operation['status'] == model.STATUS_STARTED">
								<py:when test="True">
									<py:choose test="operation['burst_name']!='-'">
										<py:when test="True">
											<button tabindex='3' type="submit" class="action action-stop" onclick="stopBurstOperation('${op_id}', ${is_group})">
												Stop
											</button>
										</py:when>
										<py:otherwise>
											<button tabindex='3' type="submit" class="action action-stop" onclick="stopOperation('${op_id}', ${is_group})">
												Stop
											</button>
										</py:otherwise>
									</py:choose>
								</py:when>
								<py:otherwise>
									<button tabindex='3' type="submit" class="action action-stop action-idle" disabled="disabled">Stop</button>
								</py:otherwise>
							</py:choose>
							<py:choose test="operation['burst_name']!='-'">
								<py:when test="True">
									<!--! Remove burst button. TODO: Once TVB-926 is finished we should have a new icon here. -->
									<py:with vars="ok_callback = 'deleteBurstOperation(' + str(op_id) + ', ' + str(is_group) + ');'">
										<button type="submit" class="action action-remove" title="Remove burst"
										onclick="showQuestionOverlay('Are you sure you want to delete this entire Simulation?', '${ok_callback}'); return false;">
										O
										</button>
									</py:with>
								</py:when>
								<py:otherwise>
									<py:with vars="ok_callback = 'deleteOperation(' + str(op_id) + ', ' + str(is_group) + ');'">
										<button type="submit" class="action action-remove" title="Remove operation"
										onclick="showQuestionOverlay('Are you sure you want to delete the operation?', '${ok_callback}'); return false;">
										B
										</button>
									</py:with>
								</py:otherwise>
							</py:choose>
						</div>
					</td>
					
					<td class="ops"> <mark>${operation['algorithm'].algorithm_category.displayname}</mark> ${operation['algorithm'].displayname} </td>
					
					<td class="brst"> ${operation['burst_name'] if operation['burst_name']!='-' else ''} </td>
					
					<td class="user"> ${operation['user'].username} </td>
					
					<td class="start-end">
						<div class="start"><mark>${operation['create'].strftime('%Y/%m/%d')}</mark> ${operation['create'].strftime('%H:%M')}</div>
						<div class="end" py:if="operation['complete']!= None"><mark>${operation['complete'].strftime('%Y/%m/%d')}</mark> ${operation['complete'].strftime('%H:%M')}</div>
					</td>
					
					<td class="time"> <py:if test="'duration' in operation">${operation['duration']}</py:if></td>
					
					<td class="result">${displayOperationResults(operation)}</td>
					
					<td class="relevancy">
						<py:with vars="toBeStatus= 'False' if operation['visible'] else 'True';
									   buttonLabel='Make not relevant' if operation['visible'] else 'Make relevant'; 
									   is_group='true' if 'operation_group_id' in operation else 'false';
									   buttonClass='action-make-irrelevant' if operation['visible'] else 'action-make-relevant'">
							<button class="action action-relevancy $buttonClass" 
									onclick="setOperationRelevant('${operation['gid']}', $is_group, '$toBeStatus', 'operationsForm'); return false;" 
									title="Make this operation(s) ${'Irrelevant' if operation['visible'] else 'Relevant'}" >$buttonLabel</button>
						</py:with>
					</td>
				</tr>
			</tbody>
		
		</table>

	</section>
	
</form>

<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(refreshOperations, 30000);
	});
</script>

</div>


