{% if 'version' in versionInfo and currentVersion < versionInfo['version'] %}
<div id="notification" tabindex="0" onkeypress="redirectToHrefChild(this)">

    <h1><mark>New:</mark> Version {{ versionInfo['version'] }} available!</h1>

    <p>Released on {{ versionInfo['releaseDate'] }} for Windows, Mac OS X and Linux</p>

	<p>{{ versionInfo['description'] | safe }}</p>

    <a class="action action-download" href="{{ versionInfo['url'] }}" tabindex="-1" title="Visit the TVB download site...">Visit download site</a>
</div>
{% endif %}






