numba
numpy
scipy
networkx
scikit-learn
scikit-image
cython
numexpr
psutil
pytest
pytest-cov
pytest-xdist
pytest-benchmark
pytest-mock
matplotlib
h5py
typing
BeautifulSoup4
subprocess32
python-keycloak
mako
pyAesCrypt
pyunicore
formencode
flask==2.2.5
flask-restx
jinja2
nibabel>=4.0
sqlalchemy
alembic
allensdk
werkzeug
gevent
cherrypy
MarkupSafe
decorator
pandas
requests
simplejson
six
siibra==1.0a5
bctpy
kubernetes
watchdog
urllib3<2.0
pycodestyle==2.10.0