<!-- ============= --> 
<!-- Main Content --> 
<!-- ============================= -->
<form method="post"> 
  <div id="main" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  		<aside class="header-component toolbar can-extend auto-extends">
			<h3>Create User Toolbar</h3>
			 <div class="extension">
			   <div class="dropdown-pane"> 
		        <ul>
		            <li><button tabindex='50' type="submit" class="action action-new">Create User</button></li>
		            <li class="action-dismiss"><button tabindex='50' type="submit" value="Cancel" name="cancel" class="action action-cancel">Cancel</button></li> 
		        </ul> 
		       </div>
		      </div>
	    </aside>
  		<xi:include href="new_user.html"/>
		${create_user_registration(data, errors, 'Create New', False)}
  </div>
</form>